:root {
  /* colors: */
  --bkgrnd-color: #282c34;
  --base-color: #fff;
  --highlight-color: #5fa8de;
  --error-color: rgba(198, 20, 20, 255);
  --required-color: rgba(200, 10, 10, 255);
  --comment-color: rgba(250, 10, 10, 255);
  --comment-background-color: rgba(125, 5, 5, 0.55);
  --rechirp-color: rgba(10, 200, 10, 255);
  --rechirp-background-color: rgba(5, 100, 5, 0.55);
  --star-color: rgba(210, 210, 11, 255);
  --star-background-color: rgba(100, 100, 5, 0.55);
  --border-color: rgba(128, 128, 128, 128);

  /* sizes: */
  --chirp-sidebar-width: 15%;
  --chirp-wrapper-size: calc(100% - var(--chirp-sidebar-width));
  --chirp-min-icon-size: 18px;
  --chirp-interactive-icon-size: 28px;
  --chirp-user-image-size: 49px;
}

* {
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans';
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: var(--bkgrnd-color);
}

.header-h1 {
  margin: 0;
  padding: 0;
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: var(--highlight-color);
}

.test {
  display: flex;
  /* position: absolute;
  width: 100%;
  margin: 0 auto; */
  justify-content: center;
  align-items: center;
}
