:root {
  /* colors: */
  --bkgrnd-color: #282c34;
  --base-color: #fff;
  --highlight-color: #5fa8de;
  --comment-color: rgba(200, 10, 10, 255);
  --rechirp-color: rgba(10, 200, 10, 255);
  --star-color: rgba(200, 200, 10, 255);

  /* sizes: */
  --chirp-sidebar-width: 15%;
  --chirp-wrapper-size: calc(100% - var(--chirp-sidebar-width));
  --chirp-min-icon-size: 18px;
  --chirp-interactive-icon-size: 28px;
  --chirp-user-image-size: 49px;
}

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: #282c34;
}

.header-h1 {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.test {
  display: flex;
  /* position: absolute;
  width: 100%;
  margin: 0 auto; */
  justify-content: center;
  align-items: center;
}
