.chirp-link {
  text-decoration: none;
  color: var(--highlight-color);
}

.chirp {
  display: block;
  font-size: 1em;
  margin: 0 0;
}

.chirp .container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border: 1px solid white;
}

.container .chirp-sidebar {
  max-width: var(--chirp-sidebar-width);
}

.user-image {
  width: var(--chirp-user-image-size);
  height: var(--chirp-user-image-size);
  padding: 5px 0 0 10px;
}

.user-image img {
  border-radius: 50%;
}

.container .chirp-wrapper {
  width: var(--chirp-wrapper-size);
  margin: 5px 10px;
}

.chirp-content {
  width: 100%;
}

.chirp-content .text {
  color: white;
  padding: 5px 0;
}

.chirp-content .chirp-link a {
  color: var(--highlight-color);
}

.chirp .container .chirp-content .gallary {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.chirp .container .chirp-content .gallary .image {
  max-width: 100%;
  margin: 5px 10px 0 0;
}

.chirp .container .chirp-content .gallary .image img {
  width: 100%;
  border-radius: 10px;
}

.chirp-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* margin: 5px 0; */
  font-size: 1.25em;
}

.chirp-footer .comments {
  display: flex;
  padding: 5px;
  color: var(--comment-color);
}

.comments-background {
  background-color: var(--comment-background-color);
}

.chirp-footer .comments .num-comments {
  margin: 0 3px;
}

.chirp-footer .comments .comments-icon {
  fill: var(--comment-color);
  width: var(--chirp-interactive-icon-size);
  height: var(--chirp-interactive-icon-size);
  vertical-align: middle;
  overflow: hidden;
}

.chirp-footer .rechirp {
  display: flex;
  padding: 5px;
  color: var(--rechirp-color);
}

.rechirp-background {
  background-color: var(--rechirp-background-color);
}

.chirp-footer .rechirp .num-rechirps {
  margin: 0 3px;
}

.chirp-footer .rechirp .rechirp-icon {
  fill: var(--rechirp-color);
  width: var(--chirp-interactive-icon-size);
  height: var(--chirp-interactive-icon-size);
  vertical-align: middle;
  overflow: hidden;
}

.chirp-footer .star {
  display: flex;
  padding: 4px 10px;
  cursor: pointer;
  color: var(--star-color);
  border-radius: 50%;
}

.chirp-footer .star .num-stars {
  margin: 0 3px;
}

.chirp-footer .star .star-icon {
  fill: var(--star-color);
  width: var(--chirp-interactive-icon-size);
  height: var(--chirp-interactive-icon-size);
  vertical-align: middle;
  overflow: hidden;
}

.star-background {
  background-color: var(--star-background-color);
}

@media screen and (min-width: 600px) {
  .chirp .container {
    width: 30%;
  }

  .chirp .container .chirp-content .gallary .image {
    width: 47.5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .chirp .container {
    width: 99%;
  }

  .chirp .container .chirp-content .gallary .image {
    width: 47.5%;
  }
}
