.chirp {
  display: block;
}

.chirp .container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  border: 1px solid white;
}

.container .chirp-sidebar {
  max-width: var(--chirp-sidebar-width);
}

.user-image {
  width: var(--chirp-user-image-size);
  height: var(--chirp-user-image-size);
  padding: 5px 0 0 10px;
}

.user-image img {
  border-radius: 50%;
}

.container .chirp-wrapper {
  width: var(--chirp-wrapper-size);
  margin: 5px 10px;
}

.chirp-header {
  display: flex;
  font-size: 0.85em;
}

.chirp-header .header-icon {
  width: var(--chirp-min-icon-size);
  height: var(--chirp-min-icon-size);
}

.chirp-header .header-icon img {
  border-radius: 50%;
}

.chirp-header .header-text {
  color: grey;
  padding-left: calc((var(--chirp-min-icon-size) / 2) + 1px);
}

.user-info {
  display: flex;
  padding-top: 5px;
  overflow:hidden;
}

.user-info .user-name a {
  overflow:hidden;
  color: blue;
}

.user-info .user-verified {
  width: var(--chirp-min-icon-size);
  height: var(--chirp-min-icon-size);
  padding: 0 5px;
}

.user-info .user-verified img {
  border-radius: 50%;
}

.user-info .user-handle a {
  color: grey;
  text-decoration: none;
  padding: 0 4px 0 2px;
}

.user-info .dot {
  color: grey;
  /* padding: 0 2px; */
}

.user-info .post-time {
  color: grey;
  padding: 0 4px;
}

.chirp-content {
  width: 100%;
}

.chirp-content .text {
  color: white;
  padding: 5px 0;
}

.chirp .container .chirp-content .gallary {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.chirp .container .chirp-content .gallary .image {
  max-width: 100%;
  margin: 5px 10px 0 0;
}

.chirp .container .chirp-content .gallary .image img {
  width: 100%;
  border-radius: 10px;
}

.chirp-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 5px 0;
  font-size: 1.25em;
}

.chirp-footer .comments {
  display: flex;
  color: var(--comment-color);
}

.chirp-footer .comments .num-comments {
  margin: 0 3px;
}

.chirp-footer .comments .comments-icon {
  fill: var(--comment-color);
  width: var(--chirp-interactive-icon-size);
  height: var(--chirp-interactive-icon-size);
  vertical-align: middle;
  overflow: hidden;
}

.chirp-footer .rechirp {
  display: flex;
  color: var(--rechirp-color);

}

.chirp-footer .rechirp .num-rechirps {
  margin: 0 3px;
}

.chirp-footer .rechirp .rechirp-icon {
  fill: var(--rechirp-color);
  width: var(--chirp-interactive-icon-size);
  height: var(--chirp-interactive-icon-size);
  vertical-align: middle;
  overflow: hidden;
}

.chirp-footer .star {
  display: flex;
  color: var(--star-color);
}

.chirp-footer .star .num-stars {
  margin: 0 3px;
}

.chirp-footer .star .star-icon {
  fill: var(--star-color);
  width: var(--chirp-interactive-icon-size);
  height: var(--chirp-interactive-icon-size);
  vertical-align: middle;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  .chirp .container {
    width: 30%;
  }

  .chirp .container .chirp-content .gallary .image {
    width: 47.5%;
  }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .chirp .container {
    width: 99%;
  }

  .chirp .container .chirp-content .gallary .image {
    width: 47.5%;
  }
}