.account-creation {
  width: 30%;
  border: 1px solid var(--base-color);
  /* height: 30vh; */
}

.account-creation .user-info {
  display: grid;
  margin: 0 5%;
  height: 100%;
  grid-template-columns: 57% 35%;
  grid-template-rows: 45% 45%;
  grid-column-gap: 5%;
  /* display: flex; */
  /* justify-content: space-evenly; */
}

.account-text {
  margin: 2% 0 0 5%;
  font-size: 1.15em;
  font-weight: 600;
  text-decoration: underline;
  color: var(--base-color);
}

.dob {
  color: var(--base-color);
  width: 100%;
  margin-top: 7px;
}

.dob-text {
  width: 100%;
}

.dob-daymonth {
  width: 12%;
}

.dob-year {
  width: 22%;
}

.separation {
  width: 100%;
  height: 1px;
  border-top: 1px solid var(--base-color);
}

.account-creation .account-info {
  display: grid;
  margin: 0 5%;
  height: 100%;
  grid-template-columns: 45% 45%;
  grid-template-rows: 45% 45%;
  grid-column-gap: 5%;
  /* display: block; */
}
