.create-chirp {
  width: 30%;
  height: 10vh;
  border: 0.5px rgba(128, 128, 128, 128) solid;
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

.chirp-sidebar {
  max-width: var(--chirp-sidebar-width);
}

.user-image {
  width: var(--chirp-user-image-size);
  height: var(--chirp-user-image-size);
  padding: 5px 0 0 10px;
}

.user-image img {
  border-radius: 50%;
}

.input-container {
  width: 100%;
  margin: 10px 0;
}

.input-div {
  /* margin-left: 2%; */
  display: inline-block;
  margin: 5px 10px;
  width: 95%;
  color: var(--highlight-color);
  outline: none;
  user-select: text;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

/* .input-container input[type='text'] { */
.input-container textarea {
  resize: none;
  font-size: 1em;
  /* color: var(--highlight-color); */
  color: var(--base-color);
  background-color: var(--bkgrnd-color);
  padding: 5px;
  width: 95%;
  height: 40%;
  outline: none;
  border: none;
  /* border: 1px solid white; */
  border-radius: 7px;
  overflow: hidden;
}

.bottom-row {
  margin: 5px 5px;
  display: flex;
  justify-content: space-between;
}

.add-images {
  margin-top: 2.5px;
  width: 20px;
  fill: var(--highlight-color);
  cursor: pointer;
}

.over-typed {
  color: var(--base-color);
  background-color: var(--highlight-color);
}

.remaining-yellow {
  color: var(--star-color);
}

.remaining-red {
  color: var(--comment-color);
}

.split-chirps {
  color: var(--rechirp-color);
}

.chirp-it {
  /* padding: 10px; */
}

.chirp-it button {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: var(--highlight-color);
  color: var(--base-color);
  outline: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
