header {
  display: flex;
  justify-content: space-between;
}

.title {
  color: white;
}

.title span {
  color: yellow;
}

.login-signup {
  margin: 0 5px;
  display: flex;
}

.login-signup form {
  height: 55px;
}

.login-signup input {
  padding: 5px;
  background-color: var(--base-color);
  color: var(--highlight-color);
  height: 35px;
  font-size: 0.55em;
  border-radius: 7px;
  border: 1px solid var(--highlight-color);
}

.login-signup input:focus {
  outline: none;
  border-color: var(--highlight-color);
  box-shadow: 0 0 10px var(--highlight-color);
}

.login-signup button {
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 25px;
  background-color: var(--highlight-color);
  color: var(--base-color);
  margin: 0 10px;
  font-size: 0.55em;
  font-weight: 550;
  cursor: pointer;
}

.error-input {
  border: 2px solid var(--error-color);
  border-radius: 4px;
}

.error-text {
  margin: 0.25em 0 0 0;
  padding: 0;
  color: var(--error-color);
  font-style: bold;
  font-size: 1.2rem;
}
