.input-form {
  width: 100%;
  height: 50px;
  position: relative;
  /* margin-top: 0px; */
  margin-bottom: 30px;
}

.input-form_short-width {
  width: 50%;
}

.input-form_long-width {
  width: 135%;
}

input::selection {
  color: var(--base-color);
  background: var(--highlight-color);
}

.input-form input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  color: var(--base-color);
  background: transparent;
  padding-top: 12px;
  overflow: hidden;
}

.input-form label {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  color: var(--base-color);
  pointer-events: none;
  border-bottom: 1px solid var(--base-color);
}

.input-form label::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 0.3s ease;
  border-bottom: 3px solid var(--highlight-color);
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.required {
  font-size: 0.85em;
  color: var(--required-color);
  margin-right: 3px;
}

input:focus,
textarea:focus {
  color: var(--highlight-color);
}

.input-form input:focus + .label-name .content-name,
.input-form input:valid + .label-name .content-name {
  transform: translateY(-100%);
  font-size: 15px;
  color: var(--highlight-color);
}

.input-form input:focus + .label-name .content-name .required,
.input-form input:valid + .label-name .content-name .required {
  transform: translateY(-5%);
  color: var(--error-color);
}

.input-form input:focus + .label-name::after,
.input-form:valid + .label-name::after {
  width: 100%;
  transition: all 0.3s ease;
}

.error {
  position: absolute;
  bottom: -40%;
  left: 0%;
  font-size: 0.85em;
  color: var(--error-color);
}
